/*Universal Selector*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    background-color: white;
    color: black;
    font-family: sans-serif, 'Teko';
}


/*Global Style for Section-Container and Content-Container*/
.section-container{
    max-width: 92.5%;
    margin: auto;
}
.content-container{
    max-width: 1100px;
    margin: auto;
    color: black;
}


/*TOP-NAVBAR*/
.top-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}
.top-navbar .titlelogo{
    margin-left: 20px;
}
.top-navbar label, input[type=checkbox]{
    display: none;
}
.top-navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.top-navbar ul a{
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 20px;
    cursor: pointer;
}
.top-navbar ul .active{
    color: red;
}
.top-navbar ul a:hover:not(.active){
    color: red;
}
.top-navbar ul .dropdown > .dropdowncontent{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;
    z-index: 1;
    background-color: white;
}
.top-navbar ul .dropdown > .dropdowncontent a:nth-child(odd){
    margin: 0px;
    padding: 20px;
    border-bottom: solid 1px black;
}
.top-navbar ul .dropdown:hover .dropdowncontent{
    display: block;
}


/*SECTION-ONE*/
.section-One{
    background-image: url(images/sectionOneBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.section-One .intro{
    color: #3e5163;
    width: 45%;
}
.section-One .intro h1{
    font-family: 'Teko';
    font-size: 100px;
    line-height: 90px;
}
.section-One .intro p{
    padding: 20px 0px;
    line-height: 30px
}
.section-One .intro button{
    background-color: inherit;
    padding: 12px 40px 12px 40px;
    outline: none;
    border: none;
    border-top: solid  1px;
    border-right: solid  1px;
    border-bottom: solid  1px;
    margin-top: 50px;
    cursor: pointer;
    
}

/*SECTION-TWO*/
.section-Two-backgroundColor{
    background-color: #f7f7f8;
}
.section-Two{
    padding-top: 50px;
}
/*rowOne*/
.section-Two .rowOne{
    display: flex;
    flex-direction: row;
}
.section-Two .rowOne .box{
    width: 25%;
    height: 270px;
}
.section-Two .rowOne .One{
    background-image: url(images/sectionTwoBoxOne.a.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: #3e5163;
    line-height: 30px
}
.section-Two .rowOne .Two{
    background-image: url(images/rowOneBoxOne.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-Two .rowOne .Three{
    background-image: url(images/rowOneBoxTwo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-Two .rowOne .Four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #3e5163;
    padding: 50px;
}
.section-Two .rowOne .Four button{
    background-color: inherit;
    padding: 12px 30px 12px 30px;
    outline: none;
    border: none;
    border-top: solid  1px;
    border-right: solid  1px;
    border-bottom: solid  1px;
    margin-top: 25px;
    cursor: pointer;
}
/*rowTwo*/
.section-Two .rowTwo{
    display: flex;
    flex-direction: row;
}
.section-Two .rowTwo .box{
    width: 25%;
    height: 270px;
}
.section-Two .rowTwo .One{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #3e5163;
    padding: 50px;
}
.section-Two .rowTwo .One button{
    background-color: inherit;
    padding: 12px 30px 12px 30px;
    outline: none;
    border: none;
    border-top: solid  1px;
    border-right: solid  1px;
    border-bottom: solid  1px;
    margin-top: 25px;
    cursor: pointer;
}
.section-Two .rowTwo .Two{
    background-image: url(images/rowTwoBoxOne.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-Two .rowTwo .Three{
    background-image: url(images/rowTwoBoxTwo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-Two .rowTwo .Four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #3e5163;
    padding: 50px;
}
.section-Two .rowTwo .Four > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 50px;
}
.section-Two .rowTwo .Four i{
    font-size: 60px;
    cursor: pointer;
    transition: 0.4s;
}
.section-Two .rowTwo .Four i:hover{
    font-size: 75px;
}
/*rowthree*/
.section-Two .rowThree{
    display: flex;
    margin-top: 50px;
}
.section-Two .rowThree .box{
    width: 50%;
    height: 470px;
}
.section-Two .rowThree .One{
    background-image: url(images/rowThreeBoxOne.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-Two .rowThree .Two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #3e5163;
    padding: 50px;
}
.section-Two .rowThree .Two p{
    padding: 20px 0px;
    line-height: 30px
}


/*SECTION-THREE*/
.section-Three-backgroundColor{
    background-color: #fa0498;
}
.section-Three{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.section-Three > div{
    padding: 65px 0px;
}
.section-Three button{
    background-color: inherit;
    padding: 12px 30px 12px 30px;
    outline: none;
    border: none;
    border-top: solid  2px;
    border-right: solid  2px;
    border-bottom: solid  2px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    border-top: solid 1px white;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    width: 150%;
}


/*SECTION-FOUR*/
.section-Four .rowOne {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px 0px;
    color: #3e5163; 
}
.section-Four .showCase span{
    display: inline-block;
    padding: 40px 20px;
    cursor: pointer;
}
/*showcase*/
.section-Four .showCase #tshirt{
    font-weight: bold;
}
.section-Four .showCase .boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.section-Four .showCase .boxes > div{
/*    flex: 1;*/
    margin: 10px;
    width: 50%;
}
.section-Four .showCase .boxes .box{
    border: solid 1px #f0eff0;
    cursor: pointer;
    padding: 10px;
    transition: 0.4s
}
.section-Four .showCase .boxes .box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section-Four .showCase .boxes .box .img-container{
    height: 250px;
    position: relative;
}
.section-Four .showCase .boxes .box .img-container .quick-view{
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px;
    bottom: 0px;
    display: none;
}
.section-Four .showCase .boxes .box .boxOne:hover .quick-view{
    display: block;
}
.section-Four .showCase .boxes .box .boxTwo:hover .quick-view{
    display: block;
}
.section-Four .showCase .boxes .box .boxThree:hover .quick-view{
    display: block;
}
.section-Four .showCase .boxes .box .boxFour:hover .quick-view{
    display: block;
}
/*showCase-boxOne*/
.section-Four .showCase .boxes .box .boxOne{
    background-image: url(images/sectionFourShowcaseBoxOne.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*showCase-boxTwo*/
.section-Four .showCase .boxes .box .boxTwo{
    background-image: url(images/sectionFourShowcaseBoxTwo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*showCase-boxThree*/
.section-Four .showCase .boxes .box .boxThree{
    background-image: url(images/sectionFourShowcaseBoxThree.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*showCase-boxFour*/
.section-Four .showCase .boxes .box .boxFour{
    background-image: url(images/sectionFourShowcaseBoxFour.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-Four .showCase .boxes .box .label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px 0px;
}
.section-Four .showCase .boxes .box .label span{
    padding: 0px;
}
.section-Four .showCase .boxes .box .label h4{
    padding: 10px;
}
.section-Four .showCase .boxes .box .label .rating-star{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
}
.section-Four .rowThree{
    background-color: black;
/*    margin: 50px 0px;*/
    margin-top: 100px;
}
.section-Four .rowThree .vid-thumbnail{
    background-image: url(images/sectionFourVidThumbnailBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 480px;
    background-color: black;
    position: relative;
    
    
}
.section-Four .rowThree .vid-thumbnail .play-button{
    opacity: 0.9!important;
    position: absolute;
    bottom: 30px;
    right: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    
}
.section-Four .rowThree .vid-thumbnail .play-button i{
    font-size: 60px;
    padding: 10px;
    cursor: pointer;
    transition: 0.4s;
}
.section-Four .rowThree .vid-thumbnail .play-button i:hover{
    font-size: 70px;
}

/*modal for play video*/
#modal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.50);
    display: none;
}
#modal .close-btn{
    text-align: right;
}
#modal .close-btn i {
    color: white;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}
#modal .vid-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 350px;
}
#modal .vid-container > div{
    margin-top: 70px;
}
#modal .vid-container video{
    outline: none;
}
#modal .vid-container #vid{
/*    display: none;*/
}


/*SECTION-FIVE*/
.section-Five-backgroundColor{
    background-color: #f7f7f8;
    height: 850px;
    padding-top: 120px;
    margin-top: -250px;
}
.section-Five{
    margin-top: 200px;
    display: flex;
    flex-direction: row;  
}
.section-Five .box{
    height: 500px;
    width: 50%;
}
.section-Five .text{
    color: #3e5163;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.section-Five .text button{
    background-color: inherit;
    padding: 12px 40px 12px 40px;
    outline: none;
    border: none;
    border-top: solid  1px;
    border-right: solid  1px;
    border-bottom: solid  1px;
    margin-top: 45px;
    cursor: pointer;
    
}
.section-Five .model{
    background-image: url(images/sectionFiveModel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*SECTION-SIX*/
.section-Six{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 50px 0px;
}
.section-Six > div{
    flex: 1;
}
.section-Six .text > div{
    color: #3e5163;
    width: 85%;
}
.section-Six .text p{
    padding: 20px 0px;
    line-height: 30px
}
.section-Six .text button{
    background-color: inherit;
    padding: 12px 40px 12px 40px;
    outline: none;
    border: none;
    border-top: solid  1px;
    border-right: solid  1px;
    border-bottom: solid  1px;
    margin-top: 45px;
    cursor: pointer;
    
}
.section-Six .text  > div{
    padding: 70px;
}
.section-Six .imageOne{
    background-image: url(images/section-Six-ImageOne.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-color: white;
}
.section-Six .imageTwo{
    background-image: url(images/section-Six-imageTwo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-color: grey;
}


/*FOOTER*/
.footer-backgroundColor{
    background-color: #3e5163;
    margin-bottom: 120px;
}
.section-footer .column{
    display: flex;
    flex-direction: row;
}
.section-footer .column > div{
    flex: 1;
    padding: 20px 80px;
}
.section-footer .column .side-nav-footer{
    background-image: url(images/footer.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
.section-footer .column .side-nav-footer a{
    text-decoration: none;
    color: white;
    display: block;
    margin: 20px;
}
.section-footer .column .socMed{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section-footer .column .socMed > div i{
    font-size: 25px;
    margin: 10px;
    color: white;
    cursor: pointer;
}

   




/*TABLET SCREEN-SIZE*/
@media(max-width:768px){
    
    .section-container{
        max-width: 100%;
        margin: auto;
        font-size: 20px;
    }
 
    /*TOP-NAVBAR*/
    .top-navbar{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .top-navbar label{
        margin-left: auto;
        display: block;
        padding: 35px 20px;
        font-size: 25px;
    }
    .top-navbar #toggle:checked + ul{
        display: block;
    }
    .top-navbar ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #f9f9f9;
    }
    .top-navbar ul{
        display: none;
    }
    .top-navbar li{
        border: solid 1px #eaeaea;
        width: 100%;
    }
    
    /*SECTION-ONE*/
    .section-One{
        padding: 0px 20px;
    }
    .section-One .intro button{
        margin-top: 15px;
    }
    
    /*SECTION-TWO*/
    /*rowOne*/
    .section-Two .rowOne{
        display: block;
    }
    .section-Two .rowOne .box{
        width: 50%;
    }
    .section-Two .rowOne .One{
        float: left;
        display: flex;
    }
    .section-Two .rowOne .Two{
        background-position: top;
        float: right;
    }
    .section-Two .rowOne .Three{
        background-position: top;
        float: left;
        clear: left;
    }
    /*rowTwo*/
    .section-Two .rowTwo{
        display: block;
    }
    .section-Two .rowTwo .box{
        width: 50%;
    }
    .section-Two .rowTwo .One{
        float: left;
    }
    .section-Two .rowTwo .Two{
        background-position: top;
        float: right;
    }
    .section-Two .rowTwo .Three{
        float: left;
        clear: left;
    }
    /*rowThree*/
    .section-Two .rowThree .Two h1{
        font-size: 25px;
    }
    

    /*SECTION-THREE*/
    .section-Three{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;'
        align-items: center;
    }
    .section-Three > div:nth-child(even){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px 0px;
        text-align: center;
    }
    .section-Three button{
        background-color: inherit;
        padding: 12px 30px 12px 30px;
        outline: none;
        border: none;
        margin-top: 0px;
        margin-bottom: 40px;
        cursor: pointer;
        color: white;
        border-top: solid 1px white;
        border-right: solid 1px white;
        border-bottom: solid 1px white;
        width: 25%;
    }
    
    
    /*SECTION-FOUR*/
    .section-Four .showCase{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    .section-Four .showCase span{
        text-align: center;
    }
    .section-Four .showCase .boxes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .section-Four .showCase .boxes .box{
        margin: 10px;
        width: 40%;
    }
    /*modal*/
    #modal .vid-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0px 50px;
    }

    
    
    /*SECTION-FIVE*/
    .section-Five{
/*        margin-top: 00px;*/
/*        background-color: brown;*/
    }
    .section-Five .text > div{
        padding-left: 50px;
        padding-top: 20px;
        padding-right: 45px;
    }
    .section-Five .text p{
        padding: 20px 0px;
        line-height: 30px
    }
    .section-Five .text button{
        margin-top: 20px;
    }
    
    
    /*SECTION-SIX*/
    .section-Six .text > div{
        padding-left: 50px;
        width: 100%;
    }
    
}

/*MOBILE SCREEN-SIZE*/
@media(max-width:480px){
    
    .section-container{
        max-width: 100%;
        margin: auto;
        font-size: 20px;
    }
    
    
    .section-One{
        background-image: url(images/sectionOneBg.mobile.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        padding: 0px 15px; 
        height: 750px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .section-One .intro{
        width: 100%;
        text-align: center;
    }
    .section-One .intro h1{
        font-size: 3em;
        line-height: 50px;
        
    }
    
    
    /*SECTION-TWO*/
    /*rowOne*/
    .section-Two .rowOne{
        display: flex;
        flex-direction: column;
    }
    .section-Two .rowOne .box{
        text-align: center;
        width: 100%;
    }
    /*rowTwo*/
    .section-Two .rowTwo{
        display: flex;
        flex-direction: column;
        
    }
    .section-Two .rowTwo .box{
        text-align: center;
        width: 100%;
    }
    /*rowTwo*/
    .section-Two .rowThree{
        display: flex;
        flex-direction: column;
    }
    .section-Two .rowThree .box{
        width: 100%;
    }
    
    
    /*SECTION-THREE*/
    .section-Three{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        padding: 0px 15px; 
    }
    .section-Three button{
        width: 45%;
    }
    
    
     /*SECTION-FOUR*/
    .section-Four-backgroundColor{
        height: 2650px;
    }
    .section-Four .rowOne{
        font-size: 15px;
    }
    .section-Four .showCase .switch{
        display: flex;
        margin-bottom: 20px;
    }
    .section-Four .showCase .boxes{
        display: flex;
        flex-direction: column;
    }
    .section-Four .showCase .boxes .box{
        width: 95%;
    }
    
    
    /*SECTION-FIVE*/
    .section-Five-backgroundColor{
        height: 1220px;
        
    }
    .section-Five{
        display: flex;
        flex-direction: column;
    }
    .section-Five .box{
        width: 100%;
    }
   
    
    /*SECTION-SIX*/
    .section-Six{
        display: flex;
        flex-direction: column;
    }
    
    
    /*SECTION-SIX*/
    .section-footer .column{
        display: flex;
        flex-direction: column;
    }
    .section-footer .side-nav-footer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    
    
    
  
   
}

