/*Universal Selector*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    background-color: white;
    color: black;
    font-family: sans-serif, 'Teko';
}


/*Global Style for Section-Container and Content-Container*/
.section-container{
    max-width: 92.5%;
    margin: auto;
}
.content-container{
    max-width: 1100px;
    margin: auto;
    color: black;
}


/*TOP-NAVBAR*/
.top-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}
.top-navbar .titlelogo{
    margin-left: 20px;
}
.top-navbar label, input[type=checkbox]{
    display: none;
}
.top-navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.top-navbar ul a{
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 20px;
    cursor: pointer;
}
.top-navbar ul .active{
    color: red;
}
.top-navbar ul a:hover:not(.active){
    color: red;
}
.top-navbar ul .dropdown > .dropdowncontent{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;
    z-index: 1;
    background-color: white;
}
.top-navbar ul .dropdown > .dropdowncontent a:nth-child(odd){
    margin: 0px;
    padding: 20px;
    border-bottom: solid 1px black;
}
.top-navbar ul .dropdown:hover .dropdowncontent{
    display: block;
}


/*SECTION-ONE*/
.section-One-backgroundImage{
    background-image: url(/images/section-One-backgroundImage-for-about.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2e3136;
}
.section-One{
    color: white;
    display: flex;
    flex-direction: column;
}
.section-One .intro{
    text-align: center;
    color: white;
    width: 100%;
    padding: 100px 0px;
    font-family: 'Teko';
}
.section-One .intro span{
    letter-spacing: 5px;
    display: block;
    padding: 55px 0px;
}
.section-One .intro h1{
    font-family: 'Teko';
    font-size: 100px;
    line-height: 90px;
}
.section-One .intro button{
    background-color: inherit;
    color: white;
    padding: 12px 40px 12px 40px;
    outline: none;
    border: none;
    border-top: solid  1px;
    border-right: solid  1px;
    border-bottom: solid  1px;
    margin-top: 50px;
    cursor: pointer;
    
}
.section-One .column{
    font-family: 'Teko';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 80px 0px;
}
.section-One .column > div{
    width: 25%;
    padding: 0px 20px;
}
.section-One .column p{
    font-family: sans-serif;
    color: #c6c6c6;
    line-height: 30px;
}


/*SECTION-TWO*/
.section-Two{
    padding: 50px 0px;
    padding-bottom: 0px;
}
.section-Two .column{
    display: flex;
    flex-direction: row;
}
.section-Two .column .text{
    width: 75%;
}
.section-Two .column .text span{
    background-color: #db2090;
    font-size: 35px;
    padding: 15px;
    display: inline-block;
    color: white;
    border-radius: 6px;
}
.section-Two .column .text h1{
    padding: 35px 0px;
}
.section-Two .column .text table, tr, td{
    border-collapse: collapse;
    padding: 20px;
    width: 50%;  
}
.section-Two .column .text p{
    padding: 35px 0px;
    line-height: 30px;
    padding-bottom: 80px;
}
.section-Two .column .image{
    background-image: url(/images/section-Two-image-for-about.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 25%;
}


/*SECTION-THREE*/
.section-Three-backgroundColor{
    background-color: #db2090;
}
.section-Three{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.section-Three > div{
    padding: 65px 0px;
}
.section-Three button{
    background-color: inherit;
    padding: 12px 30px 12px 30px;
    outline: none;
    border: none;
    border-top: solid  2px;
    border-right: solid  2px;
    border-bottom: solid  2px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    border-top: solid 1px white;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    width: 150%;
}


/*SECTION-FOUR*/
.section-Four-backgroundImage{
    background-image: url(/images/section-Four-backgroundImage-for-about.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2e3136;
}
.section-Four{
    color: white;
    padding: 60px 0px;
}
.section-Four > div{
    width: 50%;
    padding: 80px;
}
.section-Four p{
    padding: 35px 0px;
    line-height: 30px;
}
.section-Four > div button{
    background-color: inherit;
    color: white;
    padding: 12px 40px 12px 40px;
    outline: none;
    border: none;
    border-top: solid  1px;
    border-right: solid  1px;
    border-bottom: solid  1px;
    margin-top: 50px;
    cursor: pointer;
    
}


/*FOOTER*/
.footer-backgroundColor{
    background-color: #3e5163;
    margin-bottom: 120px;
}
.section-footer .column{
    display: flex;
    flex-direction: row;
}
.section-footer .column > div{
    flex: 1;
    padding: 20px 80px;
}
.section-footer .column .side-nav-footer{
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
.section-footer .column .side-nav-footer a{
    text-decoration: none;
    color: white;
    display: block;
    margin: 20px;
}
.section-footer .column .socMed{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section-footer .column .socMed > div i{
    font-size: 25px;
    margin: 10px;
    color: white;
    cursor: pointer;
}

/*MOBILE SCREEN-SIZE*/
@media(max-width: 481px){
    
    .section-container{
        max-width: 100%;
        margin: auto;
        font-size: 20px;
    }
    
    /*TOP-NAVBAR*/
    .top-navbar{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .top-navbar label{
        margin-left: auto;
        display: block;
        padding: 35px 20px;
        font-size: 25px;
    }
    .top-navbar #toggle:checked + ul{
        display: block;
    }
    .top-navbar ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #f9f9f9;
    }
    .top-navbar ul{
        display: none;
    }
    .top-navbar li{
        border: solid 1px #eaeaea;
        width: 100%;
    }
    
    /*SECTION-ONE*/
    .section-One{
        padding: 30px;
    }
    .section-One .intro h1{
        font-family: 'Teko';
        font-size: 60px;
        line-height: 60px;
    }
    .section-One .column{
        font-family: 'Teko';
        display: flex;
        flex-direction: column;
    }
    .section-One .column > div{
        width: 100%;
        padding: 10px;
    }
    
    /*SECTION-TWO*/
    .section-Two{
        padding: 30px;
    }
    .section-Two .column{
        display: flex;
        flex-direction: column-reverse;
    }
    .section-Two .column .text{
        width: 100%;
        padding-top: 50px;
    }
    .section-Two .column .text table{
        width: 100%;
    }
    .section-Two .column .image{
        height: 600px;
        width: 100%;
    }
    
    /*SECTION-THREE*/
    .section-Three{
        padding: 30px;
        color: white;
        display: flex;
        flex-direction: column;
    }
    .section-Three > div{
        padding: 0px;
        width: 100%;
        
    }
    .section-Three button{
        background-color: inherit;
        padding: 12px 30px 12px 30px;
        outline: none;
        border: none;
        border-top: solid  2px;
        border-right: solid  2px;
        border-bottom: solid  2px;
        margin-top: 20px;
        cursor: pointer;
        color: white;
        border-top: solid 1px white;
        border-right: solid 1px white;
        border-bottom: solid 1px white;
        width: 60%;
    }
    
    /*SECTION-FOUR*/
    .section-Four{
        padding: 30px;
    }
    .section-Four > div{
        width: 100%;
        padding: 200px 0px;
    }
    
    /*FOOTER*/
    .section-footer .column{
        display: flex;
        flex-direction: column;
    }
        
}
/*TABLETS SCREEN-SIZE*/
@media(max-width: 768px){
    
    .section-container{
        max-width: 100%;
        margin: auto;
        font-size: 20px;
    }
    
    /*TOP-NAVBAR*/
    .top-navbar{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .top-navbar label{
        margin-left: auto;
        display: block;
        padding: 35px 20px;
        font-size: 25px;
    }
    .top-navbar #toggle:checked + ul{
        display: block;
    }
    .top-navbar ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #f9f9f9;
    }
    .top-navbar ul{
        display: none;
    }
    .top-navbar li{
        border: solid 1px #eaeaea;
        width: 100%;
    }
    
    /*SECTION-ONE*/
    .section-One{
        padding: 30px;
    }
    .section-One .intro h1{
        font-family: 'Teko';
        font-size: 60px;
        line-height: 60px;
    }
    .section-One .column{
        font-family: 'Teko';
        display: flex;
        flex-direction: column;
    }
    .section-One .column > div{
        width: 100%;
        padding: 10px;
    }
    
    /*SECTION-TWO*/
    .section-Two{
        padding: 30px;
    }
    .section-Two .column{
        display: flex;
        flex-direction: column-reverse;
    }
    .section-Two .column .text{
        width: 100%;
        padding-top: 50px;
    }
    .section-Two .column .text table{
        width: 100%;
    }
    .section-Two .column .image{
        height: 600px;
        width: 100%;
        background-position: top;
    }
    
    /*SECTION-THREE*/
    .section-Three{
        padding: 30px;
        color: white;
        display: flex;
        flex-direction: column;
    }
    .section-Three > div{
        padding: 0px;
        width: 100%;
        
    }
    .section-Three button{
        background-color: inherit;
        padding: 12px 30px 12px 30px;
        outline: none;
        border: none;
        border-top: solid  2px;
        border-right: solid  2px;
        border-bottom: solid  2px;
        margin-top: 20px;
        cursor: pointer;
        color: white;
        border-top: solid 1px white;
        border-right: solid 1px white;
        border-bottom: solid 1px white;
        width: 60%;
    }
    
    /*SECTION-FOUR*/
    .section-Four{
        padding: 30px;
    }
    .section-Four > div{
        width: 100%;
        padding: 200px 0px;
    }
    
    /*FOOTER*/
    .section-footer .column{
        display: flex;
        flex-direction: column;
    }
        
}
/*LARGER TABLETS*/
@media(max-width: 1279px){
    
    .section-container{
        max-width: 100%;
        margin: auto;
        font-size: 20px;
    }
    
    /*TOP-NAVBAR*/
    .top-navbar{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .top-navbar label{
        margin-left: auto;
        display: block;
        padding: 35px 20px;
        font-size: 25px;
    }
    .top-navbar #toggle:checked + ul{
        display: block;
    }
    .top-navbar ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #f9f9f9;
    }
    .top-navbar ul{
        display: none;
    }
    .top-navbar li{
        border: solid 1px #eaeaea;
        width: 100%;
    }
    
    /*SECTION-ONE*/
    .section-One{
        padding: 30px;
    }
    .section-One .intro h1{
        font-family: 'Teko';
        font-size: 60px;
        line-height: 60px;
    }
    .section-One .column{
        font-family: 'Teko';
        display: flex;
        flex-direction: column;
    }
    .section-One .column > div{
        width: 100%;
        padding: 10px;
    }
    
    /*SECTION-TWO*/
    .section-Two{
        padding: 30px;
    }
    .section-Two .column{
        display: flex;
        flex-direction: column-reverse;
    }
    .section-Two .column .text{
        width: 100%;
        padding-top: 50px;
    }
    .section-Two .column .text table{
        width: 100%;
    }
    .section-Two .column .image{
        height: 600px;
        width: 100%;
        background-position: top;
    }
    
    /*SECTION-THREE*/
    .section-Three{
        padding: 30px;
        color: white;
        display: flex;
        flex-direction: column;
    }
    .section-Three > div{
        padding: 0px;
        width: 100%;
        
    }
    .section-Three button{
        background-color: inherit;
        padding: 12px 30px 12px 30px;
        outline: none;
        border: none;
        border-top: solid  2px;
        border-right: solid  2px;
        border-bottom: solid  2px;
        margin-top: 20px;
        cursor: pointer;
        color: white;
        border-top: solid 1px white;
        border-right: solid 1px white;
        border-bottom: solid 1px white;
        width: 60%;
    }
    
    /*SECTION-FOUR*/
    .section-Four{
        padding: 30px;
    }
    .section-Four > div{
        width: 100%;
        padding: 200px 0px;
    }
    
    /*FOOTER*/
    .section-footer .column{
        display: flex;
        flex-direction: column;
    }
        
}
