/*Universal Selector*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    background-color: #f5f5f5;
    color: black;
    font-family: sans-serif, 'Teko';
}


/*Global Style for Section-Container, Content-Container and Content-Container-Two*/
.section-container{
    max-width: 92.5%;
    margin: auto;
}
.content-container{
    max-width: 1100px;
    margin: auto;
    color: black;
}
.content-container-two{
    max-width: 1150px;
    margin: auto;
    color: black;
}


/*TOP-NAVBAR*/
.top-navbar{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}
.top-navbar .titlelogo{
    margin-left: 20px;
}
.top-navbar label, input[type=checkbox]{
    display: none;
}
.top-navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.top-navbar ul a{
    text-decoration: none;
    color: inherit;
    display: block;
    margin: 20px;
    cursor: pointer;
}
.top-navbar ul .active{
    color: red;
}
.top-navbar ul a:hover:not(.active){
    color: red;
}
.top-navbar ul .dropdown > .dropdowncontent{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: none;
    z-index: 1;
    background-color: white;
}
.top-navbar ul .dropdown > .dropdowncontent a:nth-child(odd){
    margin: 0px;
    padding: 20px;
    border-bottom: solid 1px black;
}
.top-navbar ul .dropdown:hover .dropdowncontent{
    display: block;
}


/*SECTION-RESULT*/
/*control sort*/
.section-result{
    background-color: white;
    margin: 65px 0px;
    padding: 90px;
}
.section-result .control{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 10px;
    
}
.section-result .control > div{
    padding: 20px;
}
.section-result .control #filter:hover{
    cursor: pointer;
}
.section-result .control .sort{
    margin-left: auto;
}
.section-result .control .sort select{
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px;
}

/*modal*/
.section-result #modal{
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 1;
    display: none;
}
.section-result #modal .side-bar{
    background-color: #f5f5f5;
    width: 400px;
    height: 100vh;
}
.section-result #modal .side-bar .side-nav-container{
    background-color: #ffffff;
    margin-left: 55px;
    height: 100%;
    box-shadow: -4px 3px 10px 0px rgba(0,0,0,0.34);
}
.section-result #modal .side-bar .side-nav-container #close{
    text-align: right;
    font-size: 25px;
    padding: 10px 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.section-result #modal .side-bar .side-nav-container .container{
    max-width: 255px;
    margin: auto;
}
.section-result #modal .side-bar .side-nav-container .product-categories ul{
    margin: 40px 0px;
}
.section-result #modal .side-bar .side-nav-container .product-categories li a{
    display: block;
    margin: 10px 0px;
    text-decoration: none;
    color: #db2090;
}
.section-result #modal .side-bar .side-nav-container .filter-by-price #fbp-filter{
    float: left;
}
.section-result #modal .side-bar .side-nav-container .filter-by-price #range-price{
    float: right;
}
.section-result #modal .side-bar .side-nav-container .filter-by-price input[type=range]{
    width: 100%;
    border: none;
    margin: 40px 0px;
    cursor: pointer;
} 


/*row box*/
.section-result .row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.section-result .row .box{
    width: 31.2%;
    margin: 10px;
    border: solid 1px #f0eff0;
    cursor: pointer;
    padding: 10px;
    transition: 0.4s
}
.section-result .row .box:hover{
    box-shadow: 0px 9px 11px -2px rgba(0,0,0,0.11);
}
.section-result .row .box .img-container{
    height: 250px;
    position: relative;
}
.section-result .row .box .img-container .quick-view{
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px;
    bottom: 0px;
    display: none;
}
.section-result .row .box .boxOne:hover .quick-view{
    display: block;
}
.section-result .row .box .boxTwo:hover .quick-view{
    display: block;
}
.section-result .row .box .boxThree:hover .quick-view{
    display: block;
}
.section-result .row .box .boxFour:hover .quick-view{
    display: block;
}
/*showCase-boxOne*/
.section-result .row .box .boxOne{
    background-image: url(../images/sectionFourShowcaseBoxOne.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*showCase-boxTwo*/
.section-result .row .box .boxTwo{
    background-image: url(../images/sectionFourShowcaseBoxOne.a.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*showCase-boxThree*/
.section-result .row .box .boxThree{
    background-image: url(../images/sectionFourShowcaseBoxTwo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*showCase-boxFour*/
.section-result .row .box .boxFour{
    background-image: url(../images/sectionFourShowcaseBoxTwo.a.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*showCase-boxFive*/
.section-result .row .box .boxFive{
    background-image: url(../images/sectionFourShowcaseBoxThree.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*showCase-boxSix*/
.section-result .row .box .boxSix{
    background-image: url(../images/sectionFourShowcaseBoxThree.a.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*showCase-boxSeven*/
.section-result .row .box .boxSeven{
    background-image: url(../images/sectionFourShowcaseBoxFour.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*showCase-boxEight*/
.section-result .row .box .boxEight{
    background-image: url(../images/sectionFourShowcaseBoxFour.a.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section-result .row .box .label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px 0px;
}
.section-result .row .box .label span{
    padding: 0px;
}
.section-result .row .box .label h4{
    padding: 10px;
}
.section-result .row .box .box .label .rating-star{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
}
.section-result .page{
    display: flex;
    flex-direction: row;
    margin: 50px 10px;
    color: #db2090;
}
.section-result .page > div{
    padding: 15px 20px;
    border: solid 1px #db2090;
    margin: 3px;
    cursor: pointer;
}
.section-result .page .active{
    background-color: #db2090;
    color: white;
}


/*FOOTER*/
.footer-backgroundColor{
    background-color: #3e5163;
    margin-bottom: 120px;
}
.section-footer .column{
    display: flex;
    flex-direction: row;
}
.section-footer .column > div{
    flex: 1;
    padding: 20px 80px;
}
.section-footer .column .side-nav-footer{
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
.section-footer .column .side-nav-footer a{
    text-decoration: none;
    color: white;
    display: block;
    margin: 20px;
}
.section-footer .column .socMed{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section-footer .column .socMed > div i{
    font-size: 25px;
    margin: 10px;
    color: white;
    cursor: pointer;
}


/*MOBILE SCREEN-SIZE*/
@media(max-width: 481px){
    
    .section-container{
        max-width: 100%;
        margin: auto;
        font-size: 20px;
    }
    .content-container-two{
        max-width: 1150px;
        margin: auto;
        color: black;
    }
    
    /*TOP-NAVBAR*/
    .top-navbar{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .top-navbar label{
        margin-left: auto;
        display: block;
        padding: 35px 20px;
        font-size: 25px;
    }
    .top-navbar #toggle:checked + ul{
        display: block;
    }
    .top-navbar ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #f9f9f9;
    }
    .top-navbar ul{
        display: none;
    }
    .top-navbar li{
        border: solid 1px #eaeaea;
        width: 100%;
    }
    
    /*SECTION-RESULT*/
    .section-result{
        padding: 30px;
    }
    .section-result .control .sort{
        margin-left: 0px;

    }
    .section-result .row .box{
        width: 100%!important;
    }
    
    /*MODAL*/
    .section-result #modal .side-bar{
        background-color: #f5f5f5;
        width: 300px;
        height: 100vh;
    }
    .section-result #modal .side-bar .side-nav-container{
        background-color: #ffffff;
        margin-left: 0px;
        height: 100%;
        box-shadow: -4px 3px 10px 0px rgba(0,0,0,0.34);
}
    .section-result #modal .side-bar .side-nav-container .container{
        max-width: 250px;
        margin: auto;
    }
    
    /*FOOTER*/
    .section-footer .column{
        display: flex;
        flex-direction: column;
    }
    .section-footer .side-nav-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
        
}
/*TABLET SCREEN-SIZE*/
@media(max-width: 768px){
    
    .section-container{
        max-width: 100%;
        margin: auto;
        font-size: 20px;
    }
    .content-container-two{
        max-width: 1150px;
        margin: auto;
        color: black;
    }
 
    /*TOP-NAVBAR*/
    .top-navbar{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .top-navbar label{
        margin-left: auto;
        display: block;
        padding: 35px 20px;
        font-size: 25px;
    }
    .top-navbar #toggle:checked + ul{
        display: block;
    }
    .top-navbar ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #f9f9f9;
    }
    .top-navbar ul{
        display: none;
    }
    .top-navbar li{
        border: solid 1px #eaeaea;
        width: 100%;
    }
    
    /*SECTION-RESULT*/
    .section-result{
        background-color: white;
        margin: 65px 0px;
        padding: 50px;
    }
    .section-result .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .section-result .row .box{
        width: 47%;
    }

}
/*LARGER TABLET*/
@media(max-width: 1279px){
    
    .section-container{
        max-width: 100%;
        margin: auto;
        font-size: 20px;
    }
    .content-container-two{
        max-width: 1150px;
        margin: auto;
        color: black;
    }
 
    /*TOP-NAVBAR*/
    .top-navbar{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .top-navbar label{
        margin-left: auto;
        display: block;
        padding: 35px 20px;
        font-size: 25px;
    }
    .top-navbar #toggle:checked + ul{
        display: block;
    }
    .top-navbar ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #f9f9f9;
    }
    .top-navbar ul{
        display: none;
    }
    .top-navbar li{
        border: solid 1px #eaeaea;
        width: 100%;
    }
    
    /*SECTION-RESULT*/
    .section-result{
        background-color: white;
        margin: 65px 0px;
        padding: 50px;
    }
    .section-result .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .section-result .row .box{
        width: 47%;
    }
    

}
